{{ define "main" }}

    <h1 id="results_h1">Your software delivery&nbsp;performance</h1>
    <section class="quickcheck_results_container" data-results-year='{{ .Date.Year }}'>
        <div class="quickcheck_results">
        <aside>
                <div  >
                    <h3>Your performance:</h3>
                    <div id="percentile-banner">00</div>
                </div>
            </aside>
            <div class="performance-graph-container">
                <img src="/img/quickcheck/your_performance.svg" id="your-performance">
                <div class="performance-spectrum"></div>
                <div class="tickmarks">
                    <div class="tick-container">
                        <div class="tick tick_first">
                            0
                        </div>
                    </div>
                    <div class="tick-container">
                        <div class="tick">
                            25
                        </div>
                    </div>
                    <div class="tick-container">
                        <div class="tick">
                            50
                        </div>
                    </div>
                    <div class="tick-container">
                        <div class="tick">
                            75
                        </div>
                    </div>
                    <div class="tick-container">
                        <div class="tick">100</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <h3 class="better-than">You're performing better than <span id="percentile">&nbsp;&nbsp;&nbsp;</span>&percnt; of {{ .Date.Year }} <a href="https://cloud.google.com/devops/state-of-devops/" target="_blank">State&nbsp;of&nbsp;DevOps&nbsp;Survey</a> respondents.&nbsp;</h3>
        {{- partial "other_quickcheck_years" . -}}
    </section>

    {{ .Content }}

    {{- partial "pagefooter_gofurther" . -}}

    {{- $helpers := resources.Get "js/helpers.js" -}}
    {{- $constants := resources.Get "js/constants.js" -}}
    {{- $results := resources.Get "js/results.js" -}}

    {{- $jsFiles := slice $helpers $constants $results}}
    {{- $jsBundle := $jsFiles | resources.Concat "js/quickcheck" | fingerprint -}}

    <script defer src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
    
{{ end }}