<header>
    <a href="/"><img src="/img/dora-logo.svg" height="48" class="dora-logo" alt="DORA"></a>

    <span style="background-color:#DB4437;padding:2px 8px;border-radius:4px;color:white;"><strong>WIP</strong> • go <a href="//devops-research.com/research.html" style="color:white;">here</a> instead</span>

    <nav>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
                <li><a href="/publications/">Publications</a></li>
                <li><a href="/research/">Research</a></li>
                <li><a href="https://bit.ly/dora-capabilities" target="_blank">Capabilities</a></li>
                <li><a href="/quickcheck/">Quick Check</a></li>
                <li><a href="/resources/">Resources</a></li>
                <li><a href="https://dora.community/" target="_blank">Community</a></li>
            </ul>
            <div class="page-overlay"></div>
        </label>
    </nav>
</header>
{{- partial "page_banner" . -}}