<header>
    <img src="img/dora-logo.svg" height="48" class="dora-logo" alt="DORA">
    <nav>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
                <li><a href="#">The State of DevOps</a></li>
                <li><a href="#">Capability Catalog</a></li>
                <li><a href="#">Quick Check</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Community</a></li>
            </ul>
            <div class="page-overlay"></div>
        </label>
    </nav>
</header>