<sidebar>
    <section>
        <a href="/research/team/">
            <div class="snipe">
                Meet DORA's Research Team
            </div>
        </a>
    </section>
    <section>
        Research archives:
        <ul>
            <li><a href="/research/archives/2022/">2022</a></li>
            <li><a href="/research/archives/2021/">2021</a></li>
            <li><a href="/research/archives/2020/">2020</a></li>
            <li><a href="/research/archives/2019/">2019</a></li>
        </ul>
    </section>
</sidebar>