<!--
<div class="site-banner">
    Oct 2 2023: Join the <b>DORA Community Summit</b> at <a href="https://itrevolution.com/product/devops-enterprise-summit-las-vegas-2023/?utm_medium=referral&utm_source=dora&utm_term=doracommunitysummit&utm_content=onsale&utm_campaign=does23lv" id="does" target="_blank">DevOps Enterprise Summit</a> to learn, discuss, and collaborate with fellow community members. <a href="https://dora.community/summit/" id="tix" target="_blank">🎟️ Tickets and Info ℹ️</a>
</div>
-->