{{ if len .tabs }}

    <!--- this partial opens a <div> that needs to be closed. So in the template that calls this partial, add a `</div>` tag after the end of the last tab content. -->

    {{/* save the "tabSetId" parameter to an unscoped variable (so it can be called outside and inside the `range .tabs` loop) */}}
    {{ $tabSetId := .tabSetId }}

    <div x-data="{
        tabset_{{ $tabSetId }}: {},
        activeTab_{{ $tabSetId }}: '',
        }"
        x-init="
            function() {

                tabset_{{$tabSetId}}.tabs = [];

                // push tabs (defined as slice when this partial is invoked) to Alpine
                {{ range .tabs }}
                    tabset_{{ $tabSetId }}.tabs.push({
                        name: '{{ . }}',
                        id: '{{ anchorize . }}'
                    });
                {{ end }}
                
                // default to first tab
                activeTab_{{ $tabSetId }} = tabset_{{ $tabSetId }}.tabs[0].id;

                // when active tab changes, push it to the URL
                $watch('activeTab_{{ $tabSetId }}', activeTab => {
                    const url = new URL(window.location.href);
                    url.searchParams.set(`tab_{{ $tabSetId }}`, activeTab);
                    history.pushState(null, document.title, url.toString());
                })

                // if active tab is specified in URL, activate it
                const url = new URL(window.location.href);
                if(url.searchParams.get(`tab_{{ $tabSetId }}`)) {
                    activeTab_{{ $tabSetId }} = url.searchParams.get(`tab_{{ $tabSetId }}`);
                }
            }
        ">

    <ul class="tabs" id="tabs-sections" role="tablist" x-show="tabset_{{ $tabSetId }}.tabs.length > 1" x-cloak>
        <template x-for="tab in tabset_{{ $tabSetId }}.tabs">
            <li>
                <a role="tab" 
                    x-text="tab.name" 
                    :class="{'selected': activeTab_{{ $tabSetId }} === tab.id}" 
                    @click.prevent="activeTab_{{ $tabSetId }} = tab.id"
                    :aria-controls="tab.id"
                    :aria-selected="{'true': activeTab_{{ $tabSetId }} === tab.id}"></a>
            </li>
        </template>
    </ul>

{{ else }}
    <!--- print an opening div tag to match the closing one on the calling template --->
    <div>
{{ end }}
