<style>
    .ribbon {
     position: fixed;
     background: #d62d20;
     box-shadow: 0 0 0 999px #d62d20;
     clip-path: inset(0 -100%);
     font-size:4em;
     color:white;
     opacity:0.8;
     }
     .left {
     inset: 0 auto auto 0; /* top and left equal to 0 */
     transform-origin: 100% 0; /* OR top right */
     transform: translate(-29.3%) rotate(-45deg);
     }
     .right {
     inset: 0 0 auto auto; /* top and right equal to 0 */
     transform-origin: 0 0; /* OR top left */
     transform: translate(29.3%) rotate(45deg);
     }
 </style>
 
 <div class="ribbon right">
    WIP
    <div style="font-size: 30%;text-align:center;padding-bottom:.5em">go <a href="//devops-research.com/research.html" style="color:white;">here</a> instead</div>
</div>