<footer>
  <div class="logo">
    <a href="https://cloud.google.com/" target="_blank"><img src="/img/cloud-logo-dark.svg"></a>
  </div>
  <div class="links">
    <a href="/resources/">Resources</a>
    <a href="/faq/">FAQ</a>
    <a href="/contact/">Contact Us</a>
  </div>
  <div class="search">
    <form action="/search/" method="get">
      <input type="text" name="q" placeholder="Search this site">
    </form>
  </div>
  <div class="license">
    DORA is a program run by Google Cloud. All content on this site is licensed by Google LLC under <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>, unless otherwise specified.
  </div>
  <div class="socials">
    <a class="google-material-icons" href="https://www.linkedin.com/company/doradotdev/" target="_blank"
      aria-label="Follow us on LinkedIn">post_linkedin</a>
    <a class="google-material-icons" href="https://www.youtube.com/@dora-dev" target="_blank"
      aria-label="Watch DORA videos on YouTube">post_youtube</a>
    <a class="google-material-icons" href="https://github.com/dora-team/dora.dev" target="_blank"
      aria-label="This site's source code">github</a>
  </div>
</footer>