<header>
  <div class="navContainer">
    <div class="dora-logo-link">
      <a href="/"><img src="/img/dora-logo.svg" height="48px" class="dora-logo" alt="DORA"></a>
    </div>
    <nav>
      <ul class="menuLinksDesktop">
        <li><a href="/ai/" {{ if (in .RelPermalink "/ai/" ) }}class="active" {{ end }}>AI</a></li>
        <li><a href="/research/" {{ if (eq .Section "research" ) }}class="active" {{ end }}>Research</a></li>
        <li><a href="/capabilities/" {{ if (eq .Section "capabilities" ) }}class="active" {{ end }}>Capabilities</a>
        </li>
        <li><a href="/guides/" {{ if (eq .Section "guides" ) }}class="active" {{ end }}>Guides</a></li>
        <li><a href="/insights/" {{ if or (eq .Section "insights" ) (in .RelPermalink "/insights/" ) }}class="active" {{ end }}>Insights</a></li>
        <li><a href="/quickcheck/" {{ if (eq .Section "quickcheck" ) }}class="active" {{ end }}>Quick Check</a>
        </li>
        <li id="searchLinkDesktop"><a class="google-material-icons" id="searchIcon" aria-label="Search dora.dev">search</a></li>
        <li><a href="https://dora.community/" target="_blank">Community&nbsp;&nbsp;<span class="google-material-icons open_in_new">open_in_new</span></a></li>
      </ul>
      <div id="searchInputPopover" popover>
        <div id="searchInputPopoverFields">
          {{- partial "search_input" -}}
        </div>
      </div>
      <div class="page-overlay"></div>
      <label id="hamburgerContainer">
        <input type="checkbox" id="mobileMenuController" onchange="console.log(this.checked)" />
        <span class="google-material-icons" aria-label="menu" id="hamburgerIcon">
          <span class="menu">menu</span>
          <span class="close">close</span>
        </span>
      </label>
    </nav>
  </div>
</header>
<div class="menuLinksMobile">
  <ul>
    <li><a href="/ai/" {{ if (in .RelPermalink "/ai/" ) }}class="active" {{ end }}>AI</a></li>

    <li><a href="/research/" {{ if (eq .Section "research" ) }}class="active" {{ end }}>Research</a></li>
    <li><a href="/capabilities/" {{ if (eq .Section "capabilities" ) }}class="active" {{ end }}>Capabilities</a>
    </li>
    <li><a href="/guides/" {{ if (eq .Section "guides" ) }}class="active" {{ end }}>Guides</a></li>
    <li><a href="/insights/" {{ if or (eq .Section "insights" ) (in .RelPermalink "/insights/" ) }}class="active" {{ end }}>Insights</a></li>
    <li><a href="/quickcheck/" {{ if (eq .Section "quickcheck" ) }}class="active" {{ end }}>Quick Check</a>
    </li>
    <li id="searchLinkMobile"><a href="/search/" {{ if (eq .Section "search" ) }}class="active" {{ end }}>Search</a>
    </li>
    <li><a href="https://dora.community/" target="_blank">Community&nbsp;&nbsp;<span class="google-material-icons open_in_new">open_in_new</span></a></li>
  </ul>
</div>

<script>
  document.querySelector('#searchIcon').addEventListener('click', (e) => {
    e.preventDefault();
    document.querySelector('#searchInputPopover').showPopover();
    document.querySelector('#searchInputPopover .searchQuery').focus();
  })
</script>


{{ if not .Params.hideSiteBanner }}
{{- partial "site_banner" . -}}
{{ end }}

<!-- if this is in the "ai" section, show the partial: ai_header -->
{{ if (eq .Section "ai") }}
{{- partial "ai_header" . -}}
{{ end }}

<!-- if this is in the "research" section and not the root, show the partial: research_header -->
{{ if and (eq .Section "research") (ne .RelPermalink "/research/") }}
{{- partial "research_header" . -}}
{{ end }}

<!-- if this is in the "capabilities" section and not the root, show the partial: capabilities_header -->
{{ if and (eq .Section "capabilities") (ne .RelPermalink "/capabilities/") }}
{{- partial "capabilities_header" . -}}
{{ end }}

<!-- if this is in the "insights" section, show the partial: insights_header -->
{{ if or (eq .Section "insights") (in .RelPermalink "/insights/") }}
{{- partial "insights_header" . -}}
{{ end }}
