<span id="_pw-research-archives">
    <ul class="past-research-list">
        {{ $links := slice
        (dict "path" "/ai" "label" "Artificial Intelligence")
        }}
        {{ range seq 2025 -1 2014 }}
        {{ $links = $links | append (dict "path" (printf "/research/%d" .) "label" (printf "%d" .)) }}
        {{ end }}

        {{ range $links }}
        {{ $page := $.Site.GetPage .path }}
        {{ if $page }}
        <li>
            <a href='{{ $page.RelPermalink }}' class="label-link"><span class="label">{{ .label }}</span></a>
            {{ with $page.Params.archive_summary }}<a href='{{ $page.RelPermalink }}' class="archive-summary-link"><span class="archive-summary">{{ . }}</span></a>{{ end }}
            <a href='{{ $page.RelPermalink }}' class="button">View research</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <h4 id="publications-legacy" style="margin-top: 3rem;">Additional Publications</h4>
    <ul class="past-research-list">
        <li>
            <a href='{{ relref . "/research/2020/" }}' class="label-link"><span class="label">The ROI of DevOps Transformation</span></a>
            <a href='{{ relref . "/research/2020/" }}' class="button">Download Whitepaper</a>
        </li>
        <li>
            <a href='https://services.google.com/fh/files/misc/devops_awards_fullebook_final.pdf' target="_blank" class="label-link"><span class="label">DevOps Awards Winners 2021</span></a>
            <a href='https://services.google.com/fh/files/misc/devops_awards_fullebook_final.pdf' target="_blank" class="button">Read ebook</a>
        </li>
    </ul>
</span>
