<span id="_pw-research-archives">
    <ul class="past-research-list">
        <li>
            <span class="label">Artificial Intelligence</span>
            <a href='{{ relref . "/ai/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2025</span>
            <a href='{{ relref . "/research/2025/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2024</span>
            <a href='{{ relref . "/research/2024/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2023</span>
            <a href='{{ relref . "/research/2023/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2022</span>
            <a href='{{ relref . "/research/2022/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2021</span>
            <a href='{{ relref . "/research/2021/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2020</span>
            <a href='{{ relref . "/research/2020/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2019</span>
            <a href='{{ relref . "/research/2019/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2018</span>
            <a href='{{ relref . "/research/2018/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2017</span>
            <a href='{{ relref . "/research/2017/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2016</span>
            <a href='{{ relref . "/research/2016/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2015</span>
            <a href='{{ relref . "/research/2015/" }}' class="button">View research</a>
        </li>
        <li>
            <span class="label">2014</span>
            <a href='{{ relref . "/research/2014/" }}' class="button">View research</a>
        </li>
    </ul>
    <h4 id="publications-legacy" style="margin-top: 3rem;">Additional Publications</h4>
    <ul class="past-research-list">
        <li>
            <span class="label">The ROI of DevOps Transformation</span>
            <a href='{{ relref . "/research/2020/" }}' class="button">Download Whitepaper</a>
        </li>
        <li>
            <span class="label">DevOps Awards Winners 2021</span>
            <a href='https://services.google.com/fh/files/misc/devops_awards_fullebook_final.pdf' target="_blank" class="button">Read ebook</a>
        </li>
    </ul>
</span>
