{{ define "main" }}
    <h2>Technical Capabilities</h2>
    <section class="capabilitiesGrid">
        {{ range where .Pages "Params.category" "technical" }}
            <article>
                <a href="{{ .RelPermalink }}">
                    <h4>{{ .Params.title }}</h4>
                    <p>{{ .Params.headline }} <span class="learn_more">Learn&nbsp;more&nbsp;<img src="https://www.gstatic.com/images/icons/material/system_gm/svg/arrow_right_alt_24px.svg"></span></p>
                </a>
            </article>
        {{ end }}
    </section>
    <h2>Process Capabilities</h2>
    <section class="capabilitiesGrid">
        {{ range where .Pages "Params.category" "process" }}
            <article>
                <a href="{{ .RelPermalink }}">
                    <h4>{{ .Params.title }}</h4>
                    {{ .Params.headline }}
                </a>
            </article>
        {{ end }}
    </section>
    <h2>Cultural Capabilities</h2>
    <section class="capabilitiesGrid">
        {{ range where .Pages "Params.category" "cultural" }}
            <article>
                <a href="{{ .RelPermalink }}">
                    <h4>{{ .Params.title }}</h4>
                    {{ .Params.headline }}
                </a>
            </article>
        {{ end }}
    </section>
{{ end }}