{{ define "main" }}

    {{- partial "partials/link_styles" "scss/capabilities.scss" -}}

    {{ range (slice "technical" "process" "cultural") }}
        <h2 id="{{ . }}">{{ . | title }} capabilities</h2>
        <section class="capabilitiesGrid">
            {{ $capabilities := where site.RegularPages "Params.category" . }}
            {{ range ($capabilities.ByParam "title") }}
                <article>
                        <h4><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h4>
                        {{ if .Params.core }}
                            <div class="core"><a href='{{ relref . "/research/"}}'>core</a></div>
                        {{ end }}
                        <p>
                            <a href="{{ .RelPermalink }}">
                                {{ .Params.headline }}
                                <span class="learn_more">Learn&nbsp;more&nbsp;<img src="https://www.gstatic.com/images/icons/material/system_gm/svg/arrow_right_alt_24px.svg"></span>
                            </a>
                        </p>
                </article>
            {{ end }}
        </section>
    {{ end }}

{{ end }}