@import "_variables.scss";

h2 {
    margin-top:2.5em;
}

h3 {
    font-size:1.5em;
    margin-top:.75em;
}

main img {
    max-width:8em;
    max-height:8em;
    float:left;
    margin: 0 1em .5em 0;
}

main h3 {
    clear:left;
    padding-top:.5em;
    border-bottom: 1px solid $border-light;
}