{{ define "main" }}
{{- partial "partials/link_styles" "scss/research.scss" -}}

{{ $researchYear := .Params.research_collection }}

<h1>DORA Research: {{ .Params.research_collection }}</h1>
{{- partial "research_archives_tabs" . -}}

        {{ .Content }}

<section class="hasSidebar">
    <article id="questions">
        <h2>Survey Questions</h2>
        {{ if eq $researchYear "core" }}
          <h4>Responses to the following questions were used in the analysis of the <a href="/research/">DORA Core Model</a>.</h4>
        {{ else }}
            <h4>Responses to the following questions were used in the analysis published in the <a href="/research/{{ $researchYear }}/dora-report/">{{ $researchYear }} Accelerate State of DevOps Report</a>.</h4>
        {{ end }}
        {{ with index .Site.Data.survey_questions .Params.research_collection }}
            {{  range sort .categories "heading" }}
                <h3 id="{{ .heading | anchorize }}">{{ .heading }}</h3>
                {{ if .description }}<p>{{ .description }}</p>{{ end }}
                {{ range sort .question_groups "description" }}
                    <p class="description">
                        {{ .description }}
                        {{ if .group_responses }}
                            <div class="responses">
                                <label>Response options:</label> {{ $responsesSlice := split .group_responses "," }}
                                {{ range $responsesSlice }}
                                    <span class="answer">{{ . }}</span>
                                {{ end }}
                            </div>
                        {{ end }}
                    </p>
                    <ul>
                        {{ range sort .questions }}
                            {{ $thisQuestion := split . "|" }}
                            {{ $thisQuestionText := index $thisQuestion 0 }}
                            {{ $thisQuestionResponses := index $thisQuestion 1 }}
                            <li>
                                <div>{{ $thisQuestionText }}</div>
                                {{ if $thisQuestionResponses }}
                                    <div class="responses">
                                        {{ $responsesSlice := split $thisQuestionResponses "," }}
                                        {{ range $responsesSlice }}
                                            <span class="answer">{{ . }}</span>
                                        {{ end }}
                                    </div>
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if .Params.updated }}
        <div class="updated">Last updated: {{ .Params.updated | time.Format ":date_long" }}</div>
        {{ end }}

        </article>
    <sidebar>
        {{ partial "research_sidebar.html" . }}
    </sidebar>
</section>
{{ end }}