{{ define "main" }}
<!-- TODO: #121 make a partial to process scss files and render <link> tags -->
{{ $stylesheet := printf "scss/research.scss" | resources.Get | toCSS | fingerprint }}
<link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}">

<h1>DORA Research: {{ .Params.research_year }}</h1>
{{- partial "research_archives_nav" . -}}

        {{ .Content }}

<section class="hasSidebar">
    <article id="questions">
        <h2>Survey Questions</h2>
        <h4>Responses to the following questions were used in the analysis published in the <a href="/research/{{ .Params.research_year }}/dora-report/">{{ .Params.research_year }} Accelerate State of DevOps Report</a></h4>
        {{ range where .Site.Data.survey_questions "year" .Params.research_year }}
            {{ range sort .categories "heading" }}
                <h3>{{ .heading }}</h3>
                {{ range sort .question_groups "description" }}
                    <p class="description">{{ .description }}</p>
                    <ul>
                        {{ range sort .questions }}
                            {{ $thisQuestion := split . "|" }}
                            {{ $thisQuestionText := index $thisQuestion 0 }}
                            {{ $thisQuestionResponses := index $thisQuestion 1 }}
                            <li>
                                <div>{{ $thisQuestionText }}</div>
                                {{ if $thisQuestionResponses }}
                                    <div class="responses">
                                        {{ $responsesSlice := split $thisQuestionResponses "," }}
                                        {{ range $responsesSlice }}
                                            <span class="answer">{{ . }}</span>
                                        {{ end }}
                                    </div>
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            {{ end }}
        {{ end }}
        </article> 
    <sidebar>
        {{ partial "research_sidebar.html" . }}
    </sidebar>
</section>
{{ end }}