@import "_variables.scss";

main table {
    border: 1px solid $border-light;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5rem;

    tr {

        th,
        td {
            margin: 0;
            padding: 0.5em 0.75em;
            vertical-align: top;
        }

        th {
            background-color: $background-medium;
            text-align: left;
        }

        td {
            font-weight: 300;
            font-size: 0.9em;
        }

        &:nth-child(even) {
            background-color: $background-light;
        }
    }
}

.table-dense-headers {
    table {
        table-layout: fixed;
        width: 100%;
    }

    th,
    td {
        border: 1px solid $border-light;
        padding: 0.4rem 0.2rem !important;
    }

    th {
        text-align: center !important;
        vertical-align: bottom !important;
        font-weight: 500;
        font-size: 0.8em;

        .table-subtitle {
            font-size: 0.85em;
            font-weight: 300;
            color: $color-text-medium;
            margin-top: 0.25em;
            display: block;
            line-height: 1.2;
        }

        &:first-child {
            text-align: left !important;
            width: 15%;
        }
    }

    td {
        text-align: center !important;
        vertical-align: middle !important;
        font-size: 0.85em;

        &:first-child {
            text-align: left !important;
            width: 15%;
            font-size: 0.8em;
        }
    }
}
