@import "_variables.scss";

.capabilitiesGrid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2em;

    article {
        border: 1px solid $border-light;
        border-radius: 0.5em;
        display: flex;
       flex-direction: column;
        grid-template-areas:
            "heading"
            "content";

        h4 {
            font-size: 1em;
            grid-area: heading;
            margin: 0;
            padding: .75rem 0.5rem 0 0.75rem;
            display: flex;
            gap:4px;
            flex-direction: row;

            a {
                color: $color-text;
                text-decoration: none;
                flex-grow:1;
            }

            .core,
            .ai {

                a {
                    font-weight: 400;
                    background-color: var(--dora-secondary-b-30);
                    border-radius: 4px;
                    text-align: center;
                    display: inline;
                    font-size: 0.7rem;
                    padding: 4px 6px;
                    color: var(--dora-primary-dark);
                    text-decoration: none;
                }
            }

            .ai a {
                background-color: var(--dora-secondary-c-30);
            }
        }

        p {
            grid-area: content;
            font-size: 0.95em;
            margin: 0;
            padding: 0.5rem;
            padding-left: 0.75rem;

            a {
                color: $color-text;
                text-decoration: none;
            }

            .learn_more {
                font-weight: 400;
                color: $color-link;
                display: block;

                img {
                    vertical-align: middle;
                }
            }
        }
    }
}

article {
    ul {
        li {
            margin-bottom: 0.5em;
        }
    }

    img {
        max-width: 100%;
    }

    code {
        background-color: $background-medium;
        border-radius: 0.25em;
        padding: 0.25em;
        font-size: 0.80em;
    }

    table {
        border: 1px solid $border-light;
        border-collapse: collapse;

        tr {

            th,
            td {
                margin: 0;
                padding: 0.25em 0.75em;
            }

            th {
                background-color: $background-medium;
            }

            td {
                font-family: $font-roboto;
                font-weight: 300;
                font-size: 0.9em;
            }

            &:nth-child(even) {
                background-color: $background-light;
            }
        }
    }
}

section.hasSidebar {
    sidebar {
        min-width: 16em;

        h4 {
            white-space: nowrap;
            margin-bottom: 1em;
        }

        h5 {
            margin-bottom: 0.25em;
            border-bottom: 1px solid $border-light;
        }

        ul {
            padding: 0;
            margin-top: 0;

            li {
                display: block;
                padding: 0;
                list-style-type: none;
                line-height: 1.25;

                a {
                    color: $color-text;
                    font-weight: 300;
                    font-size: 85%;
                    display: inline-block;
                    padding: 6pt 0;
                }
            }
        }
    }
}

h1.tags {
    a {
        display: inline-block;
        background-color: var(--dora-secondary-b-30);
        color: var(--dora-primary-dark);
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        vertical-align: middle;

        &.ai {
            background-color: var(--dora-secondary-c-30);
        }
    }
}

@include media-medium {
    .capabilitiesGrid {
        grid-template-columns: 1fr;
    }
}

.architecture-table {
    table {
        width: 100%;
        border-collapse: collapse;
    }
}

.measures-table {
    margin-bottom: 1.5rem;
}