@import "_variables.scss";

// BEGIN: new styles for theme dora-2025

.homepage-hero {
  background-color: var(--dora-highlight);
  position: relative;

  .hero-content {
    margin: auto;
    margin-bottom:24px;
    width: $layout-breakpoint-maxplus;
    max-width: 100vw;

    div.dora {
      width:100%;
      aspect-ratio: 1440 / 610;
      position:relative;
      div.letters {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;

        &.d_ra {
          background-image: url(/img/homepage/d_ra.svg);
        }
        &.o {
          background-image: url(/img/homepage/o.gif);
        }
      }
    }
  }

  div.hero-link {
    text-align: right;
    margin-right: 24px;
  }
}

.homepage-lede {
  background-color: var(--dora-primary-light);
  .lede-content-container {
    max-width: $layout-breakpoint-maxplus;
    margin: 48px auto;
    .lede-content {
      margin: 12px 36px;
      max-width: 100%;
      width:fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      h1, p {
        flex: 1 0 50%;
        text-wrap:balance;
      }

      h1 {
        font-size:72px;
      }

      p{
        font-family:$font-google-sans;
        font-size:20px;
        font-weight:500;
      }
    }
  }
}

// END: new styles for theme dora-2025

// TODO: use the grid.scss styles instead
section.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  place-items: stretch;

  article {
    padding: 0;
    border: 1px solid $border-light;
    border-radius: 8px;

    h2 {
      background-color: $background-light;
      margin: 0;
      padding: 1rem 1rem 0.5rem 1rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      a {
        color: $color-text;
        text-decoration: none;
      }
    }

    div.content {
      display: flex;
      flex-direction: row;

      .text {
        padding: 1rem;
      }

      .image {
        text-align: center;

        img {
          margin: 1rem;

          &.stroke {
            border: 1px solid $border-light;
          }
        }
      }

      &.image-left {
        flex-direction: row-reverse;

        @include media-medium {
          flex-direction: column-reverse;
        }
      }

      @include media-medium {
        flex-direction: column-reverse;
      }
    }

    &.cols_1 {
      img.feature {
        width: 10rem;
        @include media-large {
          width: 8rem;
        }
      }

      @include media-medium {
        grid-column: span 2;
      }
    }

    &.cols_2 {
      grid-column: span 2;

      img.feature {
        width: 16rem;
        @include media-large {
          width: 12rem;
        }
      }
    }
  }
}
