.searchInputContainer {
    display: flex;
    margin:0 1em;
}

.searchQuery {
    display: block;
    flex-grow: 1;
    margin: 0;
    padding-inline: 1rem;
    background-color: var(--dora-primary-light);
    border-color: var(--dora-primary-dark);
    outline:none;
    border-radius: 10vmin 0 0 10vmin;
    &::placeholder {
      color: var(--grey-70);
    }
}

.searchButton {
    // !important is needed to override default button styles
    display: block !important; 
    margin: 0  !important;
    border-radius: 0 10vmin 10vmin 0  !important;
    font-size: 1rem  !important;
    background-color:var(--dora-primary-dark) !important;
    color:var(--dora-primary-light) !important;
}