.sold-out {
    text-decoration: line-through;
}

.sold-out-text {
    color: var(--dora-secondary-a);
}

.sponsor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        max-width: 8em;
        width: auto;
        height: 2.5em;
        object-fit: contain;
    }

    p {
        font-size: 0.8rem;
        margin-top: 1em;
    }
}
