$text-color: #202124;

$layout-breakpoint-large: 960px;
$layout-breakpoint-medium: 720px;
$layout-breakpoint-small: 480px;

$background-light: #F8F9FA;

$border-light: #dadce0;
$border-medium: #aeb0b7;
