// colors
$color-text: #202124;
$color-text-light: #9aa0a6;
$color-text-medium: #5b5e66;
$color-text-highlight: #174EA6;

$color-link: #1a73e8;
$color-link-hover: #174ea6;
$color-link-focus: $color-link-hover;

$color-popover-background: #f8f9fa;

$background-light: #f8f9fa;
$background-medium: #f0f1f2;
$background-highlight: #e8f0fe;
$background-snipe: #fde293;

$border-light: #dadce0;
$border-medium: #aeb0b7;

// fonts
$font-google-sans: "Google Sans", "Roboto", Arial, Helvetica, sans-serif;
$font-roboto: "Roboto", Arial, Helvetica, sans-serif;

// breakpoints for responsive
$layout-breakpoint-max: 1040px;
$layout-breakpoint-large: 960px;
$layout-breakpoint-medium: 800px;
$layout-breakpoint-small: 480px;

// mixins for responsive layout; allows specification of media queries inline
@mixin media-small {
    @media (max-width: #{$layout-breakpoint-small}) {
        @content;
    }
}

@mixin media-medium {
    @media (max-width: #{$layout-breakpoint-medium}) {
        @content;
    }
}

@mixin media-large {
    @media (max-width: #{$layout-breakpoint-large}) {
        @content;
    }
}

@mixin media-max {
    @media (max-width: #{$layout-breakpoint-max}) {
        @content;
    }
}

@mixin box-shadow-light {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    }