// colors
$color-text: #202124;
$color-text-light: #9aa0a6;

$color-link: #1a73e8;
$color-link-hover: #174ea6;
$color-link-focus: $color-link-hover;

$color-popover-background: #f8f9fa;

$background-light: #f8f9fa;

$border-light: #dadce0;
$border-medium: #aeb0b7;

// fonts
$font-google-sans: "Google Sans", "Roboto", Arial, Helvetica, sans-serif;
$font-roboto: "Roboto", Arial, Helvetica, sans-serif;

// breakpoints for responsive
$layout-breakpoint-max: 1040px;
$layout-breakpoint-large: 960px;
$layout-breakpoint-medium: 720px;
$layout-breakpoint-small: 480px;

// mixins for responsive layout; allows specification of media queries inline
@mixin media-small {
    @media (max-width: #{$layout-breakpoint-small}) {
        @content;
    }
}

@mixin media-medium {
    @media (max-width: #{$layout-breakpoint-medium}) {
        @content;
    }
}

@mixin media-large {
    @media (max-width: #{$layout-breakpoint-large}) {
        @content;
    }
}

@mixin media-max {
    @media (max-width: #{$layout-breakpoint-max}) {
        @content;
    }
}
