@import "_variables.scss";

.capabilitiesGrid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2em;

    article {

        border:1px solid $border-light;
        border-radius: .5em;
        padding: .5em;

        h4 {
            font-size:1em;
        }

        a {
            color:$color-text;
            text-decoration: none;
        }

        p {
            font-size:.85em;
        }

        .learn_more {
            font-weight:400;
            color:$color-link;

            img {
                vertical-align: middle;
            }
        }
    }
}