@import "_variables.scss";

.capabilitiesGrid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2em;

    article {
        border: 1px solid $border-light;
        border-radius: 0.5em;
        display: grid; 
        grid-template-columns: 1fr 3rem; 
        grid-auto-rows: min-content;
        gap: 0px 0px; 
        grid-template-areas: 
            "heading core"
            "content content"
            ; 

        h4 {
            font-size: 1em;
            grid-area: heading;
            margin:0;
            padding:1rem .5rem 0 .75rem;

            a {
                color: $color-text;
                text-decoration: none;
            }
        }

        .core {
            grid-area: core;

            a {
            background-color:$background-soft;
            border-top-right-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
            text-align: center;
            display:block;
            font-size:.8rem;
            padding: .25rem 0;
            color:$color-link;
            text-decoration: none;
            
            }
        }

        p {
            grid-area: content;
            font-size: 0.95em;
            margin:0;
            padding:.5rem;
            padding-left:.75rem;

            a {
                color: $color-text;
                text-decoration: none;
            }

            .learn_more {
                font-weight: 400;
                color: $color-link;
                display:block;

                img {
                    vertical-align: middle;
                }
            }
        }
    }
}

article {
    ul {
        li {
            margin-bottom: 0.5em;
        }
    }

    img {
        max-width: 100%;
    }

    code {
        background-color: $background-medium;
        border-radius: 0.25em;
        padding: 0.25em;
    }

    table {
        border: 1px solid $border-light;
        border-collapse: collapse;
        tr {
            th,
            td {
                margin: 0;
                padding: 0.25em 0.75em;
            }

            th {
                background-color: $background-medium;
            }

            td {
                font-family: $font-roboto;
                font-weight: 300;
                font-size: 0.9em;
            }

            &:nth-child(even) {
                background-color: $background-light;
            }
        }
    }
}

section.hasSidebar {
    sidebar {
        min-width: 16em;

        h4 {
            white-space: nowrap;
            margin-bottom: 1em;
        }

        h5 {
            margin-bottom: 0.25em;
            border-bottom: 1px solid $border-light;
        }

        ul {
            padding: 0;
            margin-top: 0;

            li {
                display: block;
                padding: 0;
                list-style-type: none;
                line-height: 1.25;

                a {
                    color: $color-text;
                    font-weight: 300;
                    font-size: 85%;
                    display: inline-block;
                    padding: 6pt 0;
                }
            }
        }
    }
}

h1 a.core {
    display:inline-block;
    background-color: $background-soft;
    font-weight:400;
    font-size:1rem;
    line-height:1rem;
    padding:.25rem .5rem;
    border-radius: .5rem;
    text-decoration: none;
    vertical-align: middle;
}

@include media-medium {
    .capabilitiesGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@include media-medium {
    .capabilitiesGrid {
        grid-template-columns: 1fr;
    }
}