/*

styles for /faq/

*/

@import "_variables.scss";

main {
    h2 {
        margin-top: 1em;
        font-size: 1.75em;
        font-weight: 500;
        border-bottom: 1px solid $border-light;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.15em;
        margin-bottom: 0;
    }

    ol, ul {
        font-family: $font-roboto;
        font-weight: 300;
        font-size:85%
    }
}
