/*

styles for /faq/

*/

@import "_variables.scss";

main {
    h2 {
        margin-top: 2em;
        font-size: 1em;
        font-weight: 500;
    }

    h3 {
        border-bottom: 1px solid $border-light;
        font-size: 1.5em;
    }

    ol {
        font-family: $font-roboto;
        font-weight: 300;
    }

    p {
        margin-bottom:2rem;
    }
}
