fieldset {
    padding:0;
    border:none;

    ul  {

        padding:0;

        li {
            list-style-type: none;
            margin-bottom:6px;
        }

    }

}

input[type=radio] {
    transform:scale(1.25);
    margin-right:.5em;
}

select {
    padding:2px 4px;
    border-color:$border-medium;
    border-radius: 4px;
}

button, input[type=submit] {
    display: inline-block;
    border: none;
    border-radius: 2px;
    font-size:14px;
    font-weight:500;
    height: 46px;
    letter-spacing: .75px;
    line-height:1;
    vertical-align: middle;
    margin: 8px  0;
    padding: 15px 24px;
    transition: color .15s linear, background-color .15s linear;
    color:white;
    background-color: #1a73e8;
    cursor: pointer;
}

button:disabled, input[type=submit]:disabled {
    background-color: #dadce0;
}

button:hover, input[type=submit]:hover {
    background-color: #174ea6;
}


