@import "_variables.scss";

.hero-image {
  border-radius: 18px;
  img {
    max-width: 100%;
  }
}

.guides-index {

  a {
    text-decoration: none;
    color: $color-text;
  }
  img {
    max-width: 100%;
  }

  h2 {
    background-color: transparent;
  }
  h4 {
    color: $color-text-medium;
    padding: 1rem;
  }
}

.guides-article {
  .guides-header {
    h2 {
      color: $color-text-medium;
      font-size: 1.75rem;
    }
    margin-bottom: 0.5em;
  }

  .authors {
    margin-bottom: 0.5em;
  }
}

.yellow {
  background-color: var(--dora-spotlight-yellow);
  outline: 1px solid var(--dora-spotlight-yellow);
}
.blue {
  background-color: var(--dora-sky-blue);
  outline: 1px solid var(--dora-sky-blue);
}
.red {
  background-color: var(--dora-vermillion);
  outline: 1px solid var(--dora-vermillion);
}
.purple {
  background-color: var(--dora-mauve);
  outline: 1px solid var(--dora-mauve);
}
