@import "_variables.scss";

section.features {
    display: flex;
    flex-wrap: wrap;

    article {

        div.content-wrapper {

            padding: 0;
            margin: 12px;
            border: 1px solid $border-light;
            border-radius: 8px;

            h2 {
                background-color: $background-light;
                margin:0;
                padding:1rem 1rem .5rem 1rem;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

                a {
                    color:$color-text;
                    text-decoration: none;
                }
            }

            div.content {
                display: flex;
                flex-direction: row;

                .text {
                    padding:1rem;
                }

                .image {
                    
                    text-align: center;

                    img {
                        margin:1rem;

                        &.stroke {
                            border:1px solid $border-light;
                        }
                    }


                }

                &.image-left {
                    flex-direction: row-reverse;

                    @include media-medium {
                        flex-direction: column-reverse;
                    }
                }

                @include media-medium {
                    flex-direction: column-reverse;
                }
            }
        }
    
        &.cols_1 {
            width: 50%;

            img.feature {
                width:10rem;
                @include media-large {
                    width:8rem;
                }
            }
    
            @include media-large {
                width: 100%;
            }
        }
    
        &.cols_2 {
            width: 100%;

            img.feature {
                width:16rem;
                @include media-large {
                    width:12rem;
                }
            }
        }
    
    }
}
