section.features {

    display:flex;
    flex-wrap: wrap;

    article {
        padding:0;
        margin:0;

        div.content {
            margin:12px;
            padding:4px 12px 8px 12px;
            border: 1px solid $light-border;
            border-radius: 8px;
        }
    }

    .cols_1 {
        width:50%;
    }

    .cols_2 {
        width:100%;
    }
    
}

@media (max-width: $layout-breakpoint-small) {
    section.features {
        .cols_1 {
            width:100%;
        }
    }
}