@import "variables.scss";

@import "normalize.scss";
@import "nav.scss";
@import "headings.scss";
@import "forms.scss";

body {
    font-family: $font-google-sans;
    color: $color-text;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    // use flex so footer sticks to bottom of page
    display: flex;
    flex-direction: column;
    letter-spacing: .35px;
}

main {
    flex-grow: 1;
}

p, .paragraph, select {
    font-family: $font-roboto;
    font-weight: 300;
    margin:0;
    font-size:1rem;
}

p > bold, p > strong {
    font-weight: 500;
}

a {
    color: $color-link;

    &:hover {
        color: $color-link-hover;
    }
    &:focus {
        color: $color-link-focus;
    }
}

header {
    display:flex;
    align-items: center;
    height: 64px;
    box-shadow: 0 2px 6px 0 transparentize(#000, .88), inset 0 -1px 0 0 #dadce0;
    z-index: 100;

    .dora-logo {
        margin:2px 8px;
    }
}

main {
    max-width: $layout-breakpoint-max;
    min-height: 720px;
    padding: 1rem 4rem .5rem 4rem;
    margin:auto;
}

.capitalize {
    text-transform: capitalize;
}

section.banner {
    background-color: $background-light;

    .content {
        display:flex;
        max-width: $layout-breakpoint-max;
        padding: 2rem 4rem;
        margin:auto;
        line-height:1.75;
    }

    img.highlight {
        align:right;
        width:40%;
        max-width:400px;
        margin-left:1.5em;
    }

}

@media (max-width: $layout-breakpoint-medium) {

    section.banner img.highlight {
        display:none;
    }
}

footer {
    background-color: $background-light;
    padding:24px 16px 16px 16px;
    margin-top:4rem;
}