$layout-breakpoint-small: 960px;
$light-background: #F8F9FA;

@import "normalize.scss";
@import "nav.scss";

* {
    font-family: "Google Sans","Roboto",Arial,Helvetica,sans-serif;
}

p {
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-weight: 300;
}

h1 {
    font-weight:400;
    font-size:2.5em;
    margin-bottom: 8px;
    line-height: 120%;
}

header {
    display:flex;
    align-items: center;
    height: 64px;
    box-shadow: 0 2px 6px 0 transparentize(#000, .88), inset 0 -1px 0 0 #dadce0;

    .dora-logo {
        margin:2px 8px;
    }
}

main {
    max-width: 960px;
    min-height: 720px;
    padding: 16px 28px 8px 28px;
    margin:auto;
}

section.banner {
    background-color: $light-background;

    .content {
        max-width: 960px;
        padding: 16px 28px;
        margin:auto;
        line-height:1.7;
    }

}

footer {
    background-color: $light-background;
    padding:24px 16px 16px 16px;
}