header {
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        margin-right: 16px;
        font-size: 0.9em;
        ul {
            display: flex;
            margin: 0;
            li {
                list-style-type: none;
                padding: 0 1em;

                a {
                    text-decoration: none;
                    color: rgb(95, 99, 104);
                    white-space:nowrap;
                    font-weight: 400;
                    font-size:1em;
                    line-height:1em;

                    span.google-material-icons {
                        font-size: 1em;
                        line-height: 1em;
                        vertical-align:middle;
                    }
                }

                a:hover {
                    color: rgb(0, 0, 0);
                }

                a.active {
                    color: black;
                    font-weight: 600;
                }

            }
        }
    }
}

// hamburger menu for mobile
header > nav > label > input[type="checkbox"] {
    display: none;
}

@include media-large {
    $mobile-menu-width: 180px;

    header nav label {
        ul {
            position: absolute;
            top: 64px;
            right: 0px;
            background-color: white;
            visibility: hidden;
            opacity: 0;
            width: $mobile-menu-width;
            height: calc(100% - 64px);
            display: block;
            opacity: 0;
            padding: 0;
            z-index: 300;

            li {
                padding: 24px 4px 24px 24px;
                border-bottom: 1px solid #dadce0;
            }
        }
    }

    label .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 64px;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    label .hamburger {
        position: absolute;
        top: 32px;
        left: 16px;
        width: 32px;
        height: 2px;
        background: rgb(95, 99, 104);
        display: block;
        transform-origin: center;
        transition: 0.5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        transition: 0.35s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(95, 99, 104);
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input:checked + .menu .hamburger {
        transform: rotate(45deg);
    }

    label input:checked + .menu .hamburger:after {
        transform: rotate(90deg);
        bottom: 0;
    }

    label input:checked + .menu .hamburger:before {
        transform: rotate(90deg);
        top: 0;
    }

    label input:checked + .menu + ul {
        opacity: 1;
        transition: 0.25s ease;
        visibility: visible;
    }

    .page-overlay {
        transition: 0.35s ease;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: 100;
        visibility: hidden;
    }

    label input:checked + .menu + ul + .page-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        visibility: visible;
    }
}

.site-banner {
    background-color:$background-snipe;
    padding:2pt;
    text-align: center;

    a {
        display: inline-block;
        border-radius: .2em;
        padding:2pt 6pt;
        color: $color-text;
        font-weight: 500;
    }
}