@import "_variables.scss";

// survey page

.icon {
    display: inline-block;
    position: relative;
    left: 0px;
}

section.question {
    display: flex;
    flex-direction: row;

    padding-bottom: 24px;
    border-bottom: 1px solid $border-light;
    margin-bottom: 32px;

    aside {
        flex-grow: 0;
        width: 35%;
    }

    fieldset {
        flex-grow: 1;
        width: 65%;

        legend {
            font-size: 1.1em;
        }

        label {
            display: block;
            margin: 0.5em;
        }
    }

    @include media-medium {
        flex-direction: column;

        aside {
            width: 100%;
        }

        fieldset {
            width: 100%;
        }
    }
}

section.submit {
    text-align: right;
}

select {
    width: 100%;
}

img.spot {
    width: 260px;
    margin: 32px;
}

// results page

h1#results_h1 {
    text-align: center;
    margin-top: 3rem;
}

section.quickcheck_results_container {
    margin-bottom: 2em;

    div.quickcheck_results {
        display: flex;
        margin: 24px auto;
        max-width: $layout-breakpoint-medium;

        aside {
            width: 35%;
            max-width: 240px;
            padding-right: 40px;

            .profile-title.color-by-profile {
                display: block;
                font-size: 3.5rem;
                line-height: 1em;
            }

            h4 {
                font-weight: 400;
                font-size: 12px;
                font-family: $font-roboto;
            }
        }

        @include media-medium {
            flex-direction: column;

            aside {
                width: 100%;
                max-width: 100%;
                padding-right: 0;
                text-align: center;
            }
        }

        .performance-graph-container {
            flex-grow: 1;
        }

        .icon-container {
            height: 24px;
        }
    }

    h3.better-than {
        text-align: center;
        margin: 1.5em auto 1em auto;
    }

    small {
        display: block;
        text-align: center;
        font-weight: 200;
    }
}

#results-actions {
    text-align: center;
    margin: 2.5rem 0;
}

#key-capabilities {
    .capabilities-container {
        display: flex;
        flex-direction: row;

        @include media-small {
            flex-direction: column;
        }

        .rec {
            flex: 1;

            @include media-small {
                flex-wrap: wrap;
            }

            text-align: center;

            border: 1px solid $border-light;
            border-radius: 8px;
            margin: 0.5rem;
            padding: 0.5rem 0.5rem 1rem 0.5rem;

            h3 {
                color: $color-text;
                font-weight: 500;
            }

            a {
                text-decoration: none;
                font-size: 0.85rem;
            }
        }
    }
}

#caps_unprioritized {
    display: flex;
    flex-wrap: wrap;

    h2 {
        width: 100%;
        flex-grow: 1;
    }

    .description {
        width: 30%;

        @include media-medium {
            width: 100%;
        }
    }

    #key-capabilities {
        width: 65%;
        margin-left: 1rem;

        @include media-medium {
            width: 100%;
            margin-left: 0;
        }
    }

    .small {
        line-height: 150%;
        font-size: 12px;
    }

    #cap-click {
        margin: 1.5rem 0;
    }
}

#caps_prioritized {
    .header {
        width: 60%;
    }
}

.recommendation-container {
    margin-top: 2em;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 1.5em 2em;

    h3 {
        font-size: 1.5rem;
    }

    &.top {
        background-color: #e8f0fe;
    }

    .recommendation {
        display: flex;

        .description {
            width: 50%;
        }

        .graph-container {
            width: 50%;
            margin-left: 2em;
        }
    }
}

.focus {
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    background-color: #e8710a;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 1em;
    font-size: 12px;
    line-height: 1.75;
    font-weight: 600;
}

img.rec-img {
    margin: 16px;
    width: 72px;
    filter: invert(57%) sepia(8%) saturate(282%) hue-rotate(165deg) brightness(90%) contrast(86%);
    color: #80868b;
}

.h-c-icon {
    display: inline-block;
    vertical-align: middle;
}

.color-by-profile.low {
    color: #d93025;
}

.color-by-profile.medium {
    color: #fbbc04;
}

.color-by-profile.high {
    color: #34a853;
}

.color-by-profile.elite {
    color: #0d652d;
}

// prioritization modal
// #modal,
// #share-modal {
//     -webkit-text-size-adjust: 100%;
//     cursor: auto;
//     margin: 0;
//     bottom: 0;
//     height: 100%;
//     left: 0;
//     position: fixed;
//     right: 0;
//     top: 0;
//     z-index: 9999;
//     text-align: center;
//     overflow-y: scroll;
//     background: rgba(60, 64, 67, 0.15);
//     padding: 5% 10%;
//     display: block;
//     opacity: 1;
//     transition: opacity 200ms ease-in;

//     #share-url-container {
//         display: table;
//         border: 1px solid $border-medium;
//         padding: 0.5rem;
//         margin: auto;

//         #share-url {
//             display: table-cell;
//             vertical-align: middle;
//             overflow-wrap: break-word;
//             word-break: break-all;
//             max-width: 40em;
//         }
//     }
// }

.wrapper {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 72px;
    background: white;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.05), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    padding: 4em;
}

// TODO: #20 move #modal styles into `widgets.css` (but leave quickcheck-specific bits here)
#modal {
    display: none;

    .capability-img {
        margin-bottom: 1em;
        width: 72px;
        filter: invert(57%) sepia(8%) saturate(282%) hue-rotate(165deg) brightness(90%) contrast(86%);
        color: #80868b;
    }

    .question h3,
    h3.h-c-eyebrow,
    h4.h-c-eyebrow {
        text-transform: uppercase;
        font-size: 12px;
        color: #777777 !important;
    }

    .h-c-headline.h-c-headline--three {
        line-height: 1.25;
        font-size: 32px;
        letter-spacing: 0;
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 24px;
        margin-bottom: 48px;

        tr:nth-child(even) {
            background-color: rgba(32, 33, 36, 0.03);
        }

        label {
            padding: 24px;
        }

        label span {
            display: none;
        }

        th {
            border-top: 1px solid $border-light;
            border-bottom: 1px solid $border-medium;
            padding: 8px;
            font-size: 14px;
            vertical-align: bottom;
        }

        td {
            padding: 20px 0;

            &.question {
                text-align: left;
            }
        }
    }
}

#perf-comparison {
    max-width: 820px;
    margin: auto;
}

// Performance comparison table
.comparison-table {
    -webkit-text-size-adjust: 100%;
    color: #202124;
    cursor: auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    word-wrap: break-word;
    list-style-position: outside;
    list-style-type: none;
    line-height: 1.625;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-width: 0 1px;
    display: table;
    margin-top: 36px;
    margin-bottom: 48px;

    tr:nth-child(even) {
        background-color: rgba(32, 33, 36, 0.03);
    }

    td,
    th {
        font-size: 16px;
    }

    td {
        padding: 20px;

        &.perf {
            vertical-align: top;
            line-height: 1.625;
            letter-spacing: 0;
            padding-bottom: 20px;
            border: none;
            font-weight: 300;
            flex-wrap: nowrap;
            padding-top: 50px;
            text-align: center;
            color: #777777;
            background: url(https://www.gstatic.com/images/icons/material/system/2x/lens_grey_24dp.png) no-repeat center
                20px;
            background-size: 24px !important;
        }

        &.highlight {
            background: url(https://www.gstatic.com/images/icons/material/system/2x/check_circle_googblue_24dp.png)
                no-repeat center 20px;
            font-weight: 400;
            color: $color-link;
        }
    }

    td:has(h4) {
        width: 40%;
    }

    th {
        border-bottom: 1px solid $border-light;
        padding: 20px 8px 8px 8px;
        text-align: center;
        background-color: #fff;
    }
}

// new 2022 stuff

#percentile-banner {
    display: inline-block;
    font-size: 3em;
    padding: 0 1em;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.percentile_0 {
    background-color: #c50d00;
}
.percentile_10 {
    background-color: #e62f23;
}
.percentile_20 {
    background-color: #c52c5f;
}
.percentile_30 {
    background-color: #af2987;
}
.percentile_40 {
    background-color: #9926ad;
}
.percentile_50 {
    background-color: #7a23e6;
}
.percentile_60 {
    background-color: #702de6;
}
.percentile_70 {
    background-color: #5c41e6;
}
.percentile_80 {
    background-color: #4755e6;
}
.percentile_90 {
    background-color: #3568e6;
}
.percentile_100 {
    background-color: #1785e6;
}

.performance-graph-container {
    position: relative;
    padding-top: 26px;
    margin: 0 auto 30px auto;
}

$spectrum-width: 600px;
$spectrum-height: 30px;
$spectrum-border-radius: $spectrum-height / 2;
$spectrum-left-pad: 12px;

.performance-spectrum {
    // TODO: DRY this out. (For unknown reasons, when this @include occurs after the @spectrum-width declaration, it fails)
    @include media-small {
        width: 360px;
    }

    height: $spectrum-height;
    width: $spectrum-width;
    border-radius: $spectrum-border-radius;
    background: rgb(230, 47, 35);
    background: linear-gradient(90deg, rgba(230, 47, 35, 1) 0%, rgba(122, 35, 230, 1) 50%, rgba(23, 133, 230, 1) 100%);
    position: relative;
    top: 30px;
    left: 12px;
}

#your-performance {
    width: 24px;
    position: absolute;
    left: 0;
    z-index: 1000;
}

.tickmarks {
    display: flex;
    width: calc(($spectrum-width - 2 * $spectrum-border-radius)+3ch);
    @include media-small {
        width: 360px;
    }
    position: absolute;
    top: 90px;
    left: $spectrum-border-radius + $spectrum-left-pad;
    .tick-container {
        color: $color-text-light;
        font-size: 10px;
        width: ($spectrum-width - 2 * $spectrum-border-radius) / 4;
        text-align: left;
        .tick {
            position: relative;
            left: -0.75ch; // shift left so the tick value straddles the (implied) line
        }

        &:first-child {
            .tick {
                left: -0.5ch; // "0" is only one character, so shift less
            }
        }

        &:last-child {
            width: 3ch;

            .tick {
                left: -1.5ch; // "100" is more characters, so shift more
            }
        }
    }
}

.prioritize_step {

    .entering {
        translate: 100%;
    }
    
    .leaving {
        translate: -100%;
    }
}

.prioritization_control {
    margin-top: 2em;
    text-align: center;

    .button_description {
        width: 40%;
        min-width: 300px;
        margin: auto;
        line-height: 1.1;
    }
}

table.prioritize_questions {
    font-family: $font-roboto;
    font-weight: 300;
    font-size: 15px;
    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: $background-medium;
    }

    th {
        font-family: $font-google-sans;
        border-bottom: 1px solid $border-light;
        vertical-align: bottom;
    }

    th:first-child {
        text-align: left;
    }

    td {
        label {
            padding: 1.5em 1em;
            display: block;
            cursor: pointer;
        }

        span {
            display: none;
        }

        input {
            cursor: pointer;
        }
    }

    td:first-child {
        padding-left: 1em;
    }

    td:not(:first-child) {
        text-align: center;
        width: 10%;
    }

    @include media-medium {
        tr {
            display: flex;
            flex-direction: column;
            margin-bottom:.5em;
        }
        th:not(:first-child) {
            display: none;
        }

        td {
            width:100%;

            &:first-child {
                font-family:$font-google-sans;
                font-weight:400;
                padding:2px;
                padding-left:4px;
            }

            &:not(:first-child) {
                width:100%;
                text-align: left;
            }

            label {

                padding:4px 2px 4px 6px;

                span {
                    display: inline;
                }
            }
        }
    }
}

table.capability_scores {
    margin: 2em auto 1em auto;

    td {
        border-bottom: 1px solid $border-light;
        padding-bottom: 1em;
    }

    tr:last-child td {
        border: none;
    }

    td:first-child {
        width: 36em;
        padding-left: 1em;

        h4 {
            color: $color-text-light;
        }

        h2 {
            margin-bottom: 0;
        }

        a {
            font-size: 85%;
        }
    }

    td:last-child {
        padding-right: 1em;
    }

    div.capabilityScoreContainer {
        color: $color-text-light;
        display: flex;

        .capabilityScoreGraph {
            border: 1px solid $border-light;
            width: 10em;
            height: 2em;
            border-radius: 1.5em;
            display: inline-block;

            .capabilityScoreData {
                width: 2em;
                min-width: 2em;
                height: 2em;
                border-radius: 1.5em;
            }
        }

        div.capabilityScore {
            margin-left: 0.5em;
            line-height: 2em;
            vertical-align: middle;
            display: inline-block;

            span.capabilityScoreText {
                color: $color-text;
                font-weight: 500;
            }
        }
    }

    @include media-medium {
        line-height:1.2;
    }
}

ul.prioritization_next_steps {
    h3 {
        font-size: 1.5em;
        font-weight: 500;
        text-decoration: none;
    }

    p {
        font-size: 90%;
    }
}
