@import "variables.scss";

// survey page

.icon {
    display:inline-block;
    position:relative;
    left:0px;
}

section.question  {

    display:flex;
    flex-direction: row;

    padding-bottom: 24px;
    border-bottom: 1px solid $border-light;
    margin-bottom: 32px;

    aside {
        flex-grow: 0;
        width:35%;
    }

    fieldset {
        flex-grow: 1;
        width:65%;

        legend {
            font-size:1.1em;
        }

        label {
            display:block;
            margin:.5rem;
        }

    }

    @include media-medium {
        flex-direction: column;

        aside {
            width:100%;
        }

        aside > img.spot {
            // display:none;
        }

        fieldset {
            width:100%;
        }
    }

}

section.submit {
    text-align: right;
}

select {
    width:100%;
}

img.spot {
    width:260px;
    margin:32px;
}

// results page

h1#results_h1 {
    text-align: center;
    margin-top:3rem;
}

ul.tabs {
    display:flex;
    justify-content: center;
    border-bottom: 1px solid $border-light;
    li {
        list-style-type: none;
        
        a {
            display:inline-block;
            padding:4px 18px;
            margin:0 12px;

            font-family: $font-roboto;
            font-weight: 300;
            font-size: 14px;
            text-decoration:none;
            color:$color-text-light;
            text-transform: uppercase;
            border-bottom: 2px solid white;
            transition: border-bottom 400ms ease-out;

            &:hover{
                color:$color-text;
            }

            &.selected {
                color:$color-text;
                font-weight: 500;
                border-bottom: 2px solid $color-link;
            }

        }
    }
}

section.quickcheck_results {
    display:flex;
    margin:24px auto;
    max-width: $layout-breakpoint-medium;

    aside {
        width:35%;
        max-width:240px;
        padding-right:40px;

        .profile-title.color-by-profile {
            display:block;
            font-size:3.5rem;
            line-height: 1em;
        }

        h4 {
            font-weight:400;
            font-size:12px;
            font-family:$font-roboto;
        }

    }

    .performance-graph-container {
        flex-grow: 1;
    }

    .icon-container {
        height:24px;
    }
}

#results-actions {
    text-align: center;
    margin:2.5rem 0;
}

#key-capabilities {
    

    .capabilities-container {

        display:flex;

        .rec {

            flex: 1;
            flex-wrap: nowrap;
            text-align:center;
    
            border: 1px solid $border-light;
            border-radius: 8px;
            margin:.5rem;
            padding:.5rem .5rem 1rem .5rem ;
            
            h3 {
                color: $color-text;
                font-weight: 500;
            }
    
            a {
                text-decoration: none;
                font-size:.85rem;
            }
        }

    }

}

#caps_unprioritized {
    display:flex;
    flex-wrap: wrap;

    h2 {
        width:100%;
        flex-grow:1;
    }

    .description {
        width:30%;
    }

    #key-capabilities {
        width:65%;
        margin-left:1rem;
    }

    .small {
        line-height:150%;
        font-size:12px;
    }

    #cap-click {
        margin:1.5rem 0;
    }
}

#caps_prioritized {

    .header {
        width:60%;
    }
}

.recommendation-container {
    margin-top: 2em;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 1.5em 2em;
    
    h3 {
        font-size:1.5rem;
    }

    &.top {
        background-color: #E8F0FE;
    }

    .recommendation {
        display:flex;

        .description {
            width:50%;
        }
        
        .graph-container {
            width:50%;
            margin-left: 2em;
        }

    }    
}

.focus {
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    background-color: #E8710A;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 1em;
    font-size: 12px;
    line-height: 1.75;
    font-weight: 600;
}

img.rec-img {
    margin: 16px;
    width: 72px;
    filter: invert(57%) sepia(8%) saturate(282%) hue-rotate(165deg) brightness(90%) contrast(86%);
    color: #80868B;
}

.h-c-icon {
    display: inline-block;
    vertical-align: middle;
}


.color-by-profile.low {
    color: #D93025;
  }
  
  .color-by-profile.medium {
    color: #FBBC04;
  }
  
  .color-by-profile.high {
    color: #34A853;
  }
  
  .color-by-profile.elite {
    color: #0D652D;
  }

// prioritization modal
#modal, #share-modal {
    -webkit-text-size-adjust: 100%;
    cursor: auto;
    margin: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
    overflow-y: scroll;
    background: rgba(60, 64, 67, 0.15);
    padding: 5% 10%;
    display: block;
    opacity: 1;
    transition: opacity 200ms ease-in;

    #share-url-container {

        display: table; 
        border:1px solid $border-medium;
        padding:.5rem;
        margin:auto;

        #share-url {
            display: table-cell; 
            vertical-align: middle;
            overflow-wrap: break-word;
            word-break: break-all;
            max-width:40em;
        }

    }
}

.wrapper {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    margin-bottom:72px;
    background: white;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.05),0 4px 8px 3px rgba(60, 64, 67, 0.15);
    padding: 4em;
}

#modal {
    display:none;

    .capability-img {
        margin-bottom: 1em;
        width: 72px;
        filter: invert(57%) sepia(8%) saturate(282%) hue-rotate(165deg) brightness(90%) contrast(86%);
        color: #80868B;
    }

    .question h3, h3.h-c-eyebrow, h4.h-c-eyebrow {
        text-transform: uppercase;
        font-size: 12px;
        color: #777777 !important;
    }

    .h-c-headline.h-c-headline--three {
        line-height: 1.25;
        font-size: 32px;
        letter-spacing: 0;
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top:24px;
        margin-bottom:48px;

        tr:nth-child(even) {
            background-color: rgba(32,33,36,0.03);
        }

        label {
            padding:24px;
        }

        label span {
            display: none;
        }

        th {
            border-top:1px solid $border-light;
            border-bottom:1px solid $border-medium;
            padding: 8px;
            font-size: 14px;
            vertical-align: bottom;
        }

        td {
            padding: 20px 0;

            &.question {
                text-align: left;
            }
        }
    }

}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#perf-comparison {
    max-width:820px;
    margin:auto;
}

// Performance comparison table
.comparison-table {
    -webkit-text-size-adjust: 100%;
    color: #202124;
    cursor: auto;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 300;
    word-wrap: break-word;
    list-style-position: outside;
    list-style-type: none;
    line-height: 1.625;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-width: 0 1px;
    display: table;
    margin-top:36px;
    margin-bottom:48px;

    tr:nth-child(even) {
        background-color: rgba(32,33,36,0.03);
    }

    td, th {
        font-size: 16px;
    }

    td {
        padding:20px;

        &.perf {
            vertical-align: top;
            line-height: 1.625;
            letter-spacing: 0;
            padding-bottom: 20px;
            border: none;
            font-weight: 300;
            flex-wrap: nowrap;
            padding-top: 50px;
            text-align: center;
            color: #777777;
            background: url(https://www.gstatic.com/images/icons/material/system/2x/lens_grey_24dp.png) no-repeat center 20px;
            background-size:24px !important;
        }

        &.highlight {
            background: url(https://www.gstatic.com/images/icons/material/system/2x/check_circle_googblue_24dp.png) no-repeat center 20px;
            font-weight:400;
            color:$color-link
        }
        
    }

    td:has(h4) {
        width: 40%;
    }

    th {
        border-bottom: 1px solid $border-light;
        padding: 20px 8px 8px 8px;
        text-align: center;
        background-color: #fff;
    }
    
}
