@import "_variables.scss";

.bfd-circle {
    stroke: black;
    stroke-width: 2;
}

.bfd-text {
    font-family: $font-roboto;
    fill: black;
    font-size: 14px;
    font-weight:300;
    text-shadow: 0 2px 0 white, 2px 0 0 white, 0 -2px 0 white, -2px 0 0 white;
}

.plus {
    fill: black;
    font-size: 12px;
    font-weight: bold;
}

.bfd-title {
    fill: black;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 2px 0 white, 2px 0 0 white, 0 -2px 0 white, -2px 0 0 white;
}

.bfd-textbox:hover {
    cursor: pointer;
}

.link {
    stroke: black;
    stroke-width: 2;
    fill-opacity: 0;
}

.cultural {
    fill: #669df6;
}

.management {
    fill: #fcc934;
}

.process {
    fill: #5bb974;
}

.outcome {
    fill: #af5cf7;
}

.technical {
    fill: #ee675c;
}

.transparent {
    fill-opacity: 0;
}

.italic {
    font-style: italic;
}

.outcome-text {
    font-weight: bold;
}

.tile-img {
    width: 100%;
}

.hero-p {
    text-align: left !important;
}

.h-c-tile-set {
    display: inline-block;
    text-align: center !important;
}

@media (max-width: 600px) {
    .h-c-tile {
        width: 100%;
        min-height: auto !important;
    }

    .h-c-tile-set > li {
        width: 100%;
    }
}

ul.h-c-tile-set {
    max-width: 574px;
}

@media (min-width: 1024px) {
    ul.h-c-tile-set {
        max-width: 654px;
    }
}

@media (min-width: 1038px) {
    ul.h-c-tile-set {
        max-width: 981px;
    }
}

:target::before {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
}

.dora-logo {
    max-height: 80px;
    margin-bottom: 20px;
}

.nav-tile p {
    padding-left: 15px;
}

.nav-tile {
    border: 1px solid rgba(60, 64, 67, 0.35);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.15), 0 1px 3px 1px rgba(60, 64, 67, 0.25);
}

.muted {
    fill: #dadce0;
    stroke: #dadce0;
    transition: fill 0.5s, stroke 0.5s;
}

.node,
.node text {
    cursor: pointer;
}

#modal .wrapper p,
#modal .wrapper li,
#modal .wrapper h3 {
    max-width: 100%;
    text-align: left;
}

.modal-close-wrapper {
    text-align: center !important;
    margin-top: 20px;
}

.glue-modal {
    background-color: #fff;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    margin:1em;
    box-shadow: 0 0 1em #666;

    @include media-small {
        margin:0;
    }

}
.glue-modal.glue-modal-closing {
    display: block;
    transition: opacity 200ms ease-out;
}
.glue-modal.glue-modal-open {
    display: block;
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.glue-modal__close-btn {
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #202124;
    cursor: pointer;
    font-size: 44px;
    height: 48px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
}
.glue-modal__close-btn:before,
.glue-modal__close-btn:after {
    background-color: #202124;
    content: " ";
    height: 24px;
    left: 24px;
    position: absolute;
    top: 12px;
    width: 2px;
}
.glue-modal__close-btn:before {
    transform: rotate(45deg);
}
.glue-modal__close-btn:after {
    transform: rotate(-45deg);
}