@import "_variables.scss";

#rotate-tip {
    display: none;
}

@media (orientation: portrait) {
    #rotate-tip {
        display: revert;
    }
}

article {
    padding:1rem;

    img {
        max-width:100%;
    }

    li {
        font-family: $font-roboto;
        font-weight:300;
    }
}

#questions {
    h3 {
        font-size: 1.25em;
    }

    h4 {
        color: #666;
        margin-bottom: 1em;
    }
    li {
        font-weight: 300;
        font-family: "Roboto";
        font-size:.9rem;
    }
    p.description {
        border-top: 1px solid lightgray;
    }

    .responses {

        margin-bottom:.5rem;

        label {
            font-family: $font-roboto;
            font-size:.75rem;
            font-weight: normal;
        }

        .answer {
            display: inline-block;
            font-size:.8rem;
            border: none;
            color:$color-text-medium;
            background-color: $background-light;
            border-radius: 0.25rem;
            padding: .25rem 0.5rem;
            margin: 0.2rem 0.05rem;
        }
    }
}

tab_links {
    display:block;
    width:100%;
    border-bottom: 1px solid $border-light;

    a {
        display: inline-block;
        padding: 4px 18px;
        cursor:pointer;

        font-family: $font-roboto;
        font-weight: 400;
        font-size: 0.85rem;
        text-decoration: none;
        color: $color-text-light;
        text-transform: uppercase;
        border-bottom: 2px solid white;
        transition: border-bottom 400ms ease-out;

        &:hover {
            color: $color-text;
        }

        &.selected {
            color: $color-text;
            border-bottom: 2px solid $color-link;
        }
    }
}
