@import "_variables.scss";

main {
    width: 100%;
}

#searchResultsContainer {
    margin: 0 1em;
    #searchResultsContainer h3 {
        border-bottom: 1px solid #ccc;
        color: #666;
    }
}

#searchForm {
    display: flex;
    width: 100%;
}

#searchQuery {
    display: block;
    flex-grow: 1;
    margin: 0;
    padding-inline: 1rem;
    border: 1px solid #999;
    border-radius: 10vmin 0 0 10vmin;
}

#searchButton {
    display: block;
    margin: 0;
    border-radius: 0 10vmin 10vmin 0;
    font-size: 1rem;
}

#resultsHeader {
    color: #666;
    display: none;
    b {
        color: rgb(32, 33, 36);
    }
}

#publicationResults {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    div.publication {
        display: flex;
        margin-right: 1em;
        small {
            color: #1a73e8;
        }
    }

    div.snippet {
        font-family: roboto;
        line-height: 1.25;
        font-weight: 300;
    }

    div.snippetText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 9;
        overflow: hidden;
    }

    div.thumbnail {
        margin-right: 0.25em;
    }

    h3 {
        font-size: 1em;
        font-weight: bold;
        border: none;
        display: inline;
    }

    h4 {
        font-size: 0.75em;
        color: #999;
        display: inline;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    img {
        max-width: 8em;
        max-height: 8em;
        margin-right: 0.5em;
        border: 1px solid #999;
    }
}

#webAndGenerativeResults {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

#askDoraContainer {
    text-align: center;
    a {
        text-decoration: none;
    }
}

.searching {
    color: #999;
    font-style: italic;
}

#webResultsContainer {
    flex-grow: 1;
    margin-right: 2em;
}

.webResults {
    padding: 0.75rem 0;
    display: block;
    color: rgb(99, 99, 99);
    text-decoration: none;

    &:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    h4 {
        color: rgb(32, 33, 36);
        font-weight: bold;
    }

    .url {
        font-size: 0.75rem;
    }

    &:hover {
        color: #333;

        h4,
        .url {
            color: #1a73e8;
        }
    }
}

#askDora {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 1em;
    text-align: center;
    margin-top: 6em;
    padding: 0.5rem;
    width: 16rem;
    display: none;
    img {
        width: 8rem;
    }

    h3,
    h4 {
        color: #333;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: bold;
        border: none;
    }

    h4 {
        font-size: 0.85rem;
    }
}
