@import "_variables.scss";

section.hasAside {
    display:flex;
    flex-direction: row;

    @include media-small {
        flex-direction: column;
    }

    aside {
        width:20%;
        min-width:200px;
        margin-left:1em;

        a {
            white-space:nowrap;
        }

        section {
            padding:.5em .1em .5em 1em;
            margin-left:1em;
            border-left:1px solid $border-light;

            @include media-small {
                padding:1em 0;
                margin:0;
                border-left:none;
                border-bottom:1px solid $border-light;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}