{{ define "main" }}
{{- partial "link_styles" "scss/research.scss" -}}

{{ $researchCollectionTitle := "" }}
{{ if .Params.research_collection_title }}
{{ $researchCollectionTitle = .Params.research_collection_title }}
{{ else }}
{{ $researchCollectionTitle = .Params.research_collection }}
{{ end }}

<h1>DORA Research: {{ $researchCollectionTitle }}</h1>
{{- partial "research_archives_tabs" . -}}

<section class="hasSidebar">
    {{ partial "survey_questions.html" . }}
    <sidebar>
        {{ partial "research_sidebar.html" . }}
    </sidebar>
</section>
{{ end }}
