{{ define "main" }}
{{- partial "link_styles"  "scss/capabilities.scss" -}}

<h4><a href="/capabilities">Capabilities</a>: {{ .Params.category }}</h4>
<h1>
    {{ .Title }}
    {{ if .Params.core }}<a class="core" href='{{ relref . "/research/" }}'>core</a>{{ end }}
</h1>
{{ if .Params.authors }}
    <div class="authors">
        {{ range .Params.authors }}
            <a href="{{ .url }}" target="blank">{{ .name }}</a>
        {{ end }}
    </div>
{{ end }}
<section class="hasSidebar">
    <article>
        {{ .Content }}
    </article>
    <sidebar>
        <section>
            <h4>Capabilities</h4>
            <h5>Climate for Learning</h5>
            <ul>
                {{ range (where (where .Site.RegularPages "Section" .Section) "Params.Category" "climate for learning").ByParam "Title" }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            <h5>Fast Flow</h5>
            <ul>
                {{ range (where (where .Site.RegularPages "Section" .Section) "Params.Category" "fast flow").ByParam "Title" }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            <h5>Fast Feedback</h5>
            <ul>
                {{ range (where (where .Site.RegularPages "Section" .Section) "Params.Category" "fast feedback").ByParam "Title" }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </section>
    </sidebar>
</section>
{{ end }}