<!doctype html>
<meta charset="utf-8">
<html lang="en">
    <head>
        {{- partial "head" . -}}
    </head>
    <body>
        {{- partial "header" . -}}
        {{ if or (.Params.bannerTitle) (.Params.bannerSubtitle) }}
        <section class="banner">
            <div class="content">
                <article>
                    <h1>{{ .Params.bannerTitle }}</h1>
                    <p>{{ .Params.bannerSubtitle | markdownify }}</p>
                </article>
                {{ if .Params.bannerHighlightImage }}
                    <img src="{{ .Params.bannerHighlightImage }}" class="highlight">
                {{ end }}
            </div>
        </section>
        {{ end }}
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer" . -}}
    </body>
</html>