<!doctype html>
<meta charset="utf-8">
<html lang="en">
    <head>
        {{- partial "head" . -}}
    </head>
    <body>
        {{- partial "wip_banner" -}}
        {{- partial "header" . -}}
        {{ if or (.Params.bannerTitle) (.Params.bannerSubtitle) }}
        <section class="banner">
            <div class="content">
                <h1>{{ .Params.bannerTitle }}</h1>
                <p>{{ .Params.bannerSubtitle }}</p>
            </div>
        </section>
        {{ end }}
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer" . -}}
    </body>
</html>