/* put SVG-style CSS styles here for styling Core Model diagram */

.entity-box {
    stroke: red;
}

.entity.capability {
    cursor: pointer;
    transition: all .1s ease;
}

.entity text {
    fill:#666;
}

.entity.capability:hover {
    transform:translate(-3px,-3px);
}

.entity.capability:hover [stroke] {
    filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, .25));
}

.entity.capability:hover [fill="#FF8A01"] {
    fill:#ff5a01;
    transition: fill .25s ease;
}

.entity.capability:hover text {
    fill:#333;
}