/* put SVG-style CSS styles here for styling Core Model diagram */

.entity-box { /* styles applying to the entire entity visual element */
    
}

.connector path { /* arrow connectors showing predictive relationships */
}

.entity {
    cursor: default;
}

.entity.has-modal {
    cursor: pointer;
    transition: all .1s ease;
}

.entity text {
    fill:#666;
}

.entity.has-modal:hover .entity-box {
    filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .25));
}

.entity.has-modal:hover {
    transform:translate(-2px, -2px);
}

.entity.capability .icon-bg { /* background behind capability icons */
}

.entity.metric .icon-bg { /* background behind metric icons */
}

.entity.outcome .icon-bg { /* background behind outcome icons */
}