/* put SVG-style CSS styles here for styling Core Model diagram */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.entity-box {
    /* stroke: red; */
}

.connector path {
    /* fill: red; */
}

.entity.capability {
    cursor: pointer;
    transition: all .1s ease;
}

.entity text {
    fill:#666;
}

.entity.capability:hover {
    transform:translate(-3px,-3px);
}

.entity.capability:hover [stroke] {
    filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, .25));
}

.entity.capability .icon-bg {
    fill:#FF8A01;
}

.entity.metric .icon-bg {
    fill:#39B54A;
}

.entity.outcome .icon-bg {
    fill:#005D8D;
}

.entity > .icon tspan {
    fill:white;
    font-family:'Roboto Mono' !important;
}