{{ define "main" }} {{- partial "link_styles" "scss/ai.scss" -}}

{{ if .Params.top_header }}
<h1>{{ .Params.top_header }}</h1>
{{ end }}
{{ if .Params.research_collection }}
{{- partial "research_archives_tabs" . -}}
{{ end }}
{{ if and (ne .Params.top_header .Title) (not .Params.hide_title) }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ if .Params.authors }}
<h4 class="authors">
  by
  {{ range .Params.authors }}
  {{ if .url }}
  <a href="{{ .url }}" class="author" {{ if ne (substr .url 0 1) "/" }}target="_blank" {{ end }}>{{ .name }}</a>
  {{ else }}
  <span class="author">{{ .name }}</span>
  {{ end }}
  {{ end }}
</h4>
{{ end }}

<article class="ai-content">
  {{ .Content }}
  {{ if .Params.updated }}
  <div class="updated">
    Last updated: {{ .Params.updated | time.Format ":date_long" }}
  </div>
  {{ end }}
</article>
{{ end }}
