{{ define "main" }}
{{- partial "partials/link_styles" (dict "scss" "scss/quickcheck_2019.scss") -}}
    {{ .Content }}

    {{- partial "pagefooter_gofurther" . -}}

    <!-- TODO: #189 make a partial to process javascript assets and render a `script` tag -->
    {{- $helpers := resources.Get "js/helpers.js" -}}
    {{- $constants := resources.Get "js/constants_2019.js" -}}
    {{- $results := resources.Get "js/results_2019.js" -}}

    {{- $jsFiles := slice $helpers $constants $results}}
    {{- $jsBundle := $jsFiles | resources.Concat "js/quickcheck_2019" | fingerprint -}}

    <script defer src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
{{ end }}