<header>
    <a href="/"><img src="/img/dora-logo.svg" height="48" class="dora-logo" alt="DORA"></a>
    <nav>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul id="menuLinks">
                <li><a href="/publications/" {{ if (eq .Section "publications") }}class="active"{{ end }}>Publications</a></li>
                <li><a href="/research/" {{ if (eq .Section "research") }}class="active"{{ end }}>Research</a></li>
                <li><a href="/devops-capabilities/" {{ if (eq .Section "devops-capabilities") }}class="active"{{ end }}>Capabilities</a></li>
                <li><a href="/guides/" {{ if (eq .Section "guides") }}class="active"{{ end }}>Guides</a></li>
                <li><a href="/quickcheck/" {{ if (eq .Section "quickcheck") }}class="active"{{ end }}>Quick Check</a></li>
                <li><a class="google-material-icons" href="/search/" aria-label="Search dora.dev">search</a></li>
                <li><a href="https://dora.community/" target="_blank">Community&nbsp;&nbsp;<span class="google-material-icons">open_in_new</span></a></li>
            </ul>
            <div id="searchInput">
                {{- partial "search_input" -}}
            </div>
            <div class="page-overlay"></div>
        </label>
    </nav>
</header>
{{- partial "site_banner" . -}}
{{- partial "page_banner" . -}}
