{{ define "main" }}
<style type="text/css">
    h3 {
        font-size:1.25em;
    }
    li {
        font-weight:300;
    }
</style>
<section class="hasSidebar">
    <article>
        {{ .Content }}
        <!-- {{ if in .Params.sections_to_display "sem" }}
            <h2>Structural Equation Model</h2>
            <p>The DORA research program uses structural equation modeling (SEM), a predictive statistical modeling technique used to test relationships. We utilize PLS-PM (partial least squares path modeling) for our analysis, for several reasons: it does not require assumptions of normality in the data, it is will suited to exploratory and incremental research, and the analysis optimizes for prediction of the dependent variable (vs. testing for model fit of the data). All paths shown in the SEM figures are p &lt; .05.</p>
            
            <a href="/img/sodr/sem_sodr_{{ .Params.research_year }}.png" target="_blank"><img src="/img/sodr/sem_sodr_{{ .Params.research_year }}.png" style="max-width:100%"></a>
        {{ end }} -->
        {{ if in .Params.sections_to_display "questions" }}
            <h2>Survey Questions</h2>
            <p><strong>Participants in the {{ .Params.research_year }} State of DevOps survey were asked to respond to the following statements</strong></p>
            {{ range where .Site.Data.survey_questions "year" .Params.research_year }}
                {{ range .question_sets }}
                    <h3>{{ .heading }}</h3>
                    {{ if .description }}
                        <p>{{ .description }}</p>
                    {{ end }}
                    <ul>
                        {{ range .questions }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            {{ end }}
        {{ end }}
    </article>
    {{ partial "research_sidebar.html" }}
</section>
{{ end }}