{{ define "main" }}
<style type="text/css">
    h3 {
        font-size:1.25em;
    }

    h4 {
        color:#666;
        margin-bottom: 1em;
    }
    .mainContent li {
        font-weight:300;
        font-family: "Roboto";
        font-size: 14px;
    }
    p.description {
        border-top: 1px solid lightgray;
    }
    li div:not(:first-child) {
        font-size: 85%;
    }
</style>
<script>
    window.addEventListener('load', function(event) {
        document.querySelector('#questions').style.display='none';
    })
</script>
<section class="hasSidebar">
    <div class="mainContent">
        <article>
            {{ .Content }}
        </article>
        {{ if in .Params.sections_to_display "sem" }}
            <article id="sem" class="tab">
                <h2>Structural Equation Model</h2>
                <p>The DORA research program uses structural equation modeling (SEM), a predictive statistical modeling technique used to test relationships. We utilize PLS-PM (partial least squares path modeling) for our analysis, for several reasons: it does not require assumptions of normality in the data, it is will suited to exploratory and incremental research, and the analysis optimizes for prediction of the dependent variable (vs. testing for model fit of the data). All paths shown in the SEM figures are p &lt; .05.</p>
                
                <a href="/img/sodr/sem_sodr_{{ .Params.research_year }}.png" target="_blank"><img src="/img/sodr/sem_sodr_{{ .Params.research_year }}.png" style="max-width:100%"></a>
            </article>
        {{ end }}
        {{ if in .Params.sections_to_display "questions" }}
            <article id="questions" class="tab">
                <h2>Survey Questions</h2>
                <h4>Responses to the following questions were used in the analysis published in the {{ .Params.research_year }} Accelerate State of DevOps Report</h4>
                {{ range where .Site.Data.survey_questions "year" .Params.research_year }}
                    {{ range sort .categories "heading" }}
                        <h3>{{ .heading }}</h3>
                        {{ range sort .question_groups "description" }}
                            <p class="description">{{ .description }}</p>
                            <ul>
                                {{ range sort .questions }}
                                    {{ $thisQuestion := split . "|" }}
                                    <li>
                                        {{ range $thisQuestion }}
                                            <div>{{ . }}</div>
                                        {{ end }}
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </article> 
        {{ end }}
    </div>
    <sidebar>
        {{ partial "research_sidebar.html" . }}
    </sidebar>
</section>
{{ end }}