{{ define "main" }}
{{- partial "link_styles" "scss/research.scss" -}}
{{- partial "link_styles" "scss/insights.scss" -}}

<section class="section">
    <div class="container">
        <div class="content mainContent">
            <h1>
                {{ .Params.headline | default .Title }}
            </h1>
            {{ if .Params.subhead }}
            <h2>{{ .Params.subhead }}</h2>
            {{ end }}

            {{ if .Params.authors }}
            <h4 class="authors">
                by
                {{ range .Params.authors }}
                {{ if .url }}
                <a href="{{ .url }}" class="author" {{ if ne (substr .url 0 1) "/" }}target="_blank" {{ end }}>{{ .name }}</a>
                {{ else }}
                <span class="author">{{ .name }}</span>
                {{ end }}
                {{ end }}
            </h4>
            {{ end }}

            {{ if .Date }}
            <div class="posted">{{ .Date.Format "January 2, 2006" }}</div>
            {{ end }}

            {{ with .GetTerms "tags" }}
            <div class="tags">
                <strong>Posted in:</strong>
                {{ range . }}
                <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
                {{ end }}
            </div>
            {{ end }}

            {{ if .Params.heroimage }}
            <div class="hero-image">
                <img src="{{ .Params.heroimage }}" alt="{{ .Params.headline | default .Title }}">
            </div>
            {{ end }}

            {{ .Content }}

            {{ if .Params.updated }}
            <div class="updated">Last updated: {{ .Params.updated | time.Format ":date_long" }}</div>
            {{ end }}

            <hr class="post-separator">

            {{ with .GetTerms "tags" }}
            <div class="footer-tags">
                <strong>Posted in:</strong>
                {{ range . }}
                <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
                {{ end }}
            </div>
            {{ end }}

            <div class="insights-navigation">
                {{ if .PrevInSection }}
                <div class="prev-post">
                    <strong>Previous post:</strong> <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Params.headline | default .PrevInSection.Title }}</a>
                </div>
                {{ end }}
                {{ if .NextInSection }}
                <div class="next-post">
                    <strong>Next post:</strong> <a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Params.headline | default .NextInSection.Title }}</a>
                </div>
                {{ end }}
            </div>

        </div>
    </div>
</section>
{{ end }}
