<section class="quickcheck_results_container" data-results-year='{{ .Date.Year }}'>
    <div class="quickcheck_results">
    <aside>
            <div  >
                <h3>Your performance:</h3>
                <div id="percentile-banner">00</div>
            </div>
        </aside>
        <div class="performance-graph-container">
            <img src="/img/quickcheck/your_performance.svg" id="your-performance">
            <div class="performance-spectrum"></div>
            <div class="tickmarks">
                <div class="tick-container">
                    <div class="tick tick_first">
                        0
                    </div>
                </div>
                <div class="tick-container">
                    <div class="tick">
                        25
                    </div>
                </div>
                <div class="tick-container">
                    <div class="tick">
                        50
                    </div>
                </div>
                <div class="tick-container">
                    <div class="tick">
                        75
                    </div>
                </div>
                <div class="tick-container">
                    <div class="tick">100</div>
                </div>
                
            </div>
        </div>
    </div>
    <h3 class="better-than">You're performing better than <span id="percentile">&nbsp;&nbsp;&nbsp;</span>&percnt; of {{ .Date.Year }} <a href="https://cloud.google.com/devops/state-of-devops/" target="_blank">Accelerate State&nbsp;of&nbsp;DevOps&nbsp;</a> survey respondents.&nbsp;</h3>
    <small>Take the Quick Check from other research years: <a href="/quickcheck/2023/">2023</a>&nbsp;&nbsp;<a href="/quickcheck/2022/">2022</a>&nbsp;&nbsp;<a href="/quickcheck/2021/">2021</a>&nbsp;&nbsp;<a href="/quickcheck/2019/">2019</a></small>
</section>