@import url(//fonts.googleapis.com/css2?family=Google+Sans+Text);

$font-stack: "Google Sans Text", "Roboto", sans-serif;
$shadow-light: drop-shadow(2px 2px 2px rgba(0, 0, 0, .15));
$shadow-dark: drop-shadow(3px 3px 3px rgba(0, 0, 0, .25));

* {
    transform-box: fill-box;
}

text {
    font-family: $font-stack !important;
    font-weight: 500 !important;
}

.entity,
.construct {
    filter: $shadow-light;

    &.has-modal {
        &:hover {
            filter: $shadow-dark;
            transition: all .1s ease-in-out;
        }
    }
}

.entity {
    &.capability.has-modal.clickedEntity .icon {
        @include gearAnimation;
    }

    &.metric.has-modal {
        .icon {
            transform: scale3d(1, .85, 1);
            transform-origin: bottom;
        }
    }

    &.metric.has-modal.clickedEntity .icon {
        @include stretchUpAnimation;
    }

    &.outcome.has-modal.clickedEntity .icon {
        @include stretchOutAnimation;
    }
}

@mixin gearAnimation {
    animation: turngear .4s 0s ease-in-out;
    transform-origin: 50% 50%;
}

@mixin stretchUpAnimation {
    animation: stretchup .4s 0s ease-out;
    transform: scale3d(1, 1, 1);
}

@mixin stretchOutAnimation {
    animation: stretchout .4s 0s ease-out;
    transform: scale3d(1.1, 1.1, 1.1);
    transform-origin: center;
}

@include keyframes(turngear) {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(60deg);
    }
}

@include keyframes(stretchup) {
    0% {
        transform: scale3d(1, .75, 1);
    }

    80% {
        transform: scale3d(1, 1.1, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@include keyframes(stretchout) {
    0% {
        transform: scale3d(.85, .85, .85);
    }

    80% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    100% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}