{{ define "main" }}
<!-- TODO: remove this devops-capabilities stylesheet -->
{{- partial "partials/link_styles" "scss/devops-capabilities.scss" -}}
{{- partial "partials/link_styles" "scss/guides.scss" -}}

<h1>
    {{ .Params.headline }}
</h1>
{{ if .Params.authors }}
<div class="authors">
    {{ range .Params.authors }}
    <a href="{{ .url }}" target="blank">{{ .name }}</a>
    {{ end }}
</div>
<div class="hero-image">
    <img src="{{ .Params.heroimage }}">
</div>
{{ end }}
{{ .Content }}
{{ end }}