{{ define "main" }}
    <!-- TODO: remove this capabilities stylesheet -->
    {{- partial "partials/link_styles" "scss/capabilities.scss" -}}
    {{- partial "partials/link_styles" "scss/guides.scss" -}}

    <div class="guides-article">
        <div class="guides-header">
            <a href="/guides/">DORA Guides</a>
            <h1>
                {{ .Params.headline }}
            </h1>
            {{ if .Params.subhead }}
                <h2>{{ .Params.subhead }}</h2>
            {{ end }}

            {{ if .Params.authors }}
                <h4 class="authors">
                    by
                    {{ range .Params.authors }}
                    <a href="{{ .url }}" class="author" target="blank">{{ .name }}</a>
                    {{ end }}
                </h4>
            {{ end }}
            
            {{ if .Params.heroimage }}
                <div class="hero-image">
                    <img src="{{ .Params.heroimage }}" alt="{{.Params.headline}}">
                </div>
            {{ end }}
        </div>

        {{ .Content }}
        
        {{ if .Params.updated }}
        <div class="updated">Last updated: {{ .Params.updated | time.Format ":date_long" }}</div>
        {{ end }}
    </div>
{{ end }}