{{ define "main" }}
{{- partial "link_styles" "scss/research.scss" -}}
{{ .Content }}

<section class="research-archives-section" id="dora_research_archives">
    <div class="content-wrapper">
        <h3>DORA research archives</h3>
        {{- partial "research_archives" . -}}
    </div>
</section>

<div class="container-wide meet-the-team-section">
    <p>The DORA research program and Core model are led by a global team of researchers at Google.</p>
    <a href='{{ "/research/team/" | relURL }}' class="button">Meet the team</a>
</div>

{{ end }}
