{{ define "main" }}
{{- partial "partials/link_styles" "scss/research.scss" -}}

<h1>DORA Research: {{ .Params.research_year }}</h1>
{{- partial "research_archives_tabs" . -}}

<style type="text/css">
    h3 {
        font-size:1.25em;
    }

    h4 {
        color:#666;
        margin-bottom: 1em;
    }
    .mainContent li {
        font-weight:300;
        font-family: "Roboto";
        font-size: 14px;
    }
    p.description {
        border-top: 1px solid lightgray;
    }
    li div:not(:first-child) {
        font-size: 85%;
    }
</style>

<section class="hasSidebar">
    <div class="mainContent">
        <article id="questions">
            {{ .Content }}
        </article>
    </div>
    <sidebar>
        {{ partial "research_sidebar.html" . }}
    </sidebar>
</section>
{{ end }}